
:host {
  height: 48px;
  min-width: 128px;
  outline: 0;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .slider-wrapper {
    top: 23px;
    left: 8px;
    right: 8px;
    height: 10px;
    position: absolute;

    .slider-roll-win {
      top: -15px;
      left: 0;
      width: 24px;
      height: 24px;
      margin-left: -11px;
      text-align: center;
      color: #FFF;
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
      background: #39CF73;
      border-radius: 50% 50% 50% 0;
      box-shadow: 0 0 10px rgba(#39CF73, .3);
      transform: rotate(-45deg) scale(0);
      transition: transform .2s ease-out, top .2s ease-out;
      position: absolute;

      span {
        transform: rotate(45deg);
        display: block;
      }

      &.show {
        top: -34px;
        transform: rotate(-45deg) scale(1);
      }
    }

    .slider-track-wrapper {
      top: 0;
      left: 0;
      height: 10px;
      width: 100%;
      border-radius: 12px;
      overflow: hidden;
      position: absolute;

      .slider-track-background {
        height: 100%;
        width: 100%;
        background: rgba(15, 11, 68, 0.25);
        position: absolute;
      }

      .slider-track-fill {
        height: 100%;
        width: 100%;
        background: #476AF5;
        transform: translateX(-100%);
        transform-origin: 0 0;
        transition: transform .4s cubic-bezier(.25,.8,.25,1);;
        position: absolute;
      }
    }

    .slider-thumb-container{
      top: 50%;
      width: 100%;
      height: 0;
      transition: transform .4s cubic-bezier(.25,.8,.25,1);
      transform: translateX(-100%);
      position: absolute;
      z-index: 1;

      .slider-thumb {
        right: -10px;
        bottom: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        background: #FFFFFF;
        position: absolute;

        &:after {
          content: " ";
          width: 6px;
          height: 6px;
          margin: 7px;
          border-radius: 50%;
          background: #D3D5E1;
          display: block;
        }
      }

      .slider-focus-ring {
        right: -19px;
        bottom: -19px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: #476AF5;
        opacity: 0.5;
        transform: scale(0);
        transition: all .3s ease-out;
        position: absolute;
      }
    }
  }

  &:not(.disabled) {

    .slider-wrapper {

      .slider-thumb-container {

        .slider-thumb {
          cursor: grab;
        }
      }
    }

    &.active {

      .slider-wrapper {

        .slider-thumb-container {

          .slider-thumb {
            cursor: grabbing;
          }

          .slider-focus-ring {
            transform: scale(1);
          }
        }
      }
    }

    &.move {

      .slider-wrapper {

        .slider-track-wrapper {

          .slider-track-fill {
            transition: none;
          }
        }

        .slider-thumb-container {
          transition: none;
        }
      }
    }
  }

  &.disabled {
    opacity: .3;
  }
}
